{% extends 'base.html' %}




{% block content %}
  
    <div class="str_resume"><h1>{{title}}</h1>
    <div class="content-index">
            <div class="left-category">
                <h3>
                    <a href="{% url 'home' %}">Все категории</a>
                    <br><br>
                    {% for p in category %}
                        
                    <a href="{{ p.get_absolute_url }}">{{p.name}}</a>
                    <br><br>
                    {% endfor %}
                </h3>
            </div>
            <div class="name-r">

                {% for item in page_obj %}
                
                <a href="{{ item.get_absolute_url }}"><h3>{{item.name}}-{{item.profession}}</h3></a>
                {% if not forloop.last %}
               
                {% endif %}

                {% endfor %}
                <div class="paginat">
                    {% for p in page_obj.paginator.page_range %}
                    <div>
                        <a href="?page={{ p }}">{{ p }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %} 
   

    
