{% load static %}
{% load main_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'main/css/style.css' %}" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="header">
        {% get_menu as menu %}
        {% for m in menu %}
        <li class="li-menu"><a class="a" href="{% url m.url_name %}"><div class="div-menu">{{m.title}}</div></a></li>
        {% endfor %}
        {% if user.is_authenticated %}
				<li class="last"><a href="#">{{user.username}}</a> | <a href="{% url 'users:logout' %}">Выйти</a></li>
        {% else %}
        <li class="last"><a href="{% url 'users:login' %}">Войти</a> | <a href="{% url 'users:register' %}">Регистрация</a></li>
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
    <nav class="list-pages">
    <ul>
        {% for p in paginator.page_range %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
</body>
</html>